@import url("style.css");

/* 品牌介紹背景浮動區塊 */


.photo1{
  /* margin-top: 15px; */
  /* background-color: rgb(255, 158, 158); */
  height: 629px;
  /* position: relative; */
  width: 100%;
  display: none;
  
}
.photo1 img{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: none;

  

}

/* story */
.story {
  margin-bottom: 80px;

 
}
.story img{

  
}


.story h1{
  font-size: 64px;
  text-align: center;
  margin: 80px 0;
 
}

.top{
  width: 100%;
  max-width: 1040px;
  min-height: 520px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  
}

.top img{
max-height: 480px;
height: 100%;
width: 557px;
margin-top: 20px;
margin-left: 20px;
object-fit: cover;
object-position: 10% 30%;
box-shadow: 8px 6px 7px rgba(0, 0, 0, 0.7); 


}

.ph1{
position: relative;
}

.line{
height: 484px;
width: 556px;
position: absolute;
border: 3px solid black;
border-bottom: 4px solid black ;
border-right: 5px solid black ;
top:5px;
left: 5px;

}


.list1{
margin: 20px;
margin-left: 60px;
margin-top: 100px;
/* max-width: 300px;
width: 100%; */

}

.list1 h2{
  font-size: 32px;
  margin: 20px 20px 10px;


}

.list1 h3{
margin: 0 20px 30px;

}

.list1 p{
margin: 20px;
line-height:1.6;

}

.list1{

}



/* 品牌介紹製作步驟-如何製作果醬 */

.middle{ 
  width: 1200px;
  height: 1160px;
  margin: 0 auto;
  font-size: 0%;
  background-image: url(../img/Vector\ 1.png);
  background-repeat: no-repeat;
  position: relative;

}
.middle .lin {
    position: absolute;
    left: -150px;
    bottom: -195px;
    width: 710px;
    height: 296px;
}
.middle .bee{
  width: 130px;
  height: 120px;
  position: absolute;
      left: 569px;
    bottom: 59px;

}

.middle h1{
  font-size: 64px;
  text-align: center;
  /* text-shadow: 2px 3px #999999; */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #F5C554;
    text-shadow:  2px 3px #F5C554 ;





 
}

.middle1 {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 20px;
  

}

.middle1 .step{
  list-style: none;
  width: 325px;
  height: 430px;
  vertical-align: middle;
  margin: 50px  auto; 
  
   
 
 

}
  


.middle1 img{
  width: 325px;
  height: 259px;
  object-fit: cover;
  object-position: bottom;
}

.middle1 h4{
  font-size: 25px ;
  text-align: center;
  line-height: 35px;
  padding: 0 0px;
  padding-top: 0px;

}

.middle1 p{
  font-size: 16px;
  padding: 10px 20px;
  line-height: 35px;
  text-align: center;

}

.step1{
  border: 3px solid #F5C554;
  height: 171px;
  position: relative;

}

.step1 h4{
  color: #F5C554;
}

.step1 img{
  height: 41px;
  width: 121px;
  position: absolute;
  top: -15px;
  left: 100px;
  position: relative;


  
}
.box{
  height: 41px;
  width: 121px;
  background-color: white;
  border: 3px solid #F5C554;
  position: absolute;
  top: -22px;
  left: 93px;
} 


/* 品牌介紹最下面區塊 */

.down{
  margin-top: 40px;
  background-color: coral;
  height: 473px;
  display: flex;


}

.down img{
  height: 100%;
  object-fit: cover;
  width: 100%;
  overflow: hidden;

}

@media screen and (max-width: 768px){
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.photo1{
  width: 390px;
  height: 260px;


}
.top{
  flex-direction: column;
  width: 390px;
  margin: 0;
}
.story .line{
  display: none;
}
.story h1{
  margin: 0;
  margin: 38px 0;
}

.ph1 img{
  margin: 0;
  width: 390px;
  height: 260px;
  box-shadow:none;
}
.story .list1{
  margin: 0;
}
.middle{
  height: auto;
  width: 390px;
}
.middle h1{
  font-size: 45px;

}
.middle1{
  margin: 0;
  position: relative;
}

.middle .step{
  margin-bottom: 0;

}
.middle .lin{
  /* height: 200px;
  width: 390px;
  position:absolute;
  bottom: -49px; */
  display: none;

}
.middle .bee{
  position: absolute;
  bottom: -56px;
  left: 178px;
}
.photo1{
  display: block;
}
.photo1 img{
  display: block;
}
.swiper{
  display: none;
}

}


 /* 輪播 */
 .swiper {
  max-height: 629px;
  height: 100%;
  margin-bottom: 140px;
  width:100%;
  z-index: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  max-height: 629px;
  height: 100%;
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next::after ,.swiper-button-prev::after{
  color: #000000;
}

