@import url("style.css");


/* 門市資訊position */


.store{
    /* margin-top: 120px; */
    margin-bottom: 100px;
    clear: both;
    width: 100%;
    
    
  }
  
  .store h1{
      font-size: 64px;
      text-align: center;
      margin-bottom: 40px;
      text-shadow: 2px 3px #999999;
      
  }
  
  .all_map{
    height: 100%;
    width: 855px;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    
    
    
    
   
  
  }
  
  .map1{
    height: 302px;
    width: 395px;
    
    
  
  }
  
  .all_map .text{
    height: 302px;
    width: 395px;
    padding:80px 25px 80px 100px;
    
    
  
  
  }
  
  
  .all_map .text h2{
    font-size: 46px ;
    margin-bottom: 20px;
    
  }
  
  .all_map .text p{
    letter-spacing: 1px;
    
    
  }
  
  @media screen and (max-width: 768px){
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .store{
      margin: 0;
    }
    .store h1{
      margin: 0;
      margin: 20px auto;
    }
    .all_map{
      flex-direction: column;
      width: auto;
      padding: 0;
    }
    .all_map .text{
      padding: 0 ;
      height: auto;
      width: auto;
      margin: 30px auto;
     
    }


  }