@import url('reset.css');


*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    
}
body{
    font-family: 'Noto Sans TC' ,sans-serif;
    font-size: 16px;
    margin: 0 auto;
    overflow-x: hidden;
    
    
}


/* head */

.head{
  height: 123px;
  box-shadow: 0 1px 1px rgba(199, 199, 199, 0.7);    
  background-color: white;
  width: 100%;
  display: flex; 
  position: fixed; 
  z-index: 1;
  bottom: auto;
  /* position: sticky;
  top:0; */

  

}
@media screen and (min-width: 768px){
 
  
}
@media screen and (max-width: 768px){
  .head >.icon{
    display: none;
    
  }
  .head{
    height: auto;
    position: relative;
    
  }
  .head a img{
    display: block;
    width: 150px;
    height: 65px;
    margin: 3px;
    margin-left: 130px;

  }
  .head .ham{
    display: block;
    margin-top: 7px;
  }
  
  .head ul{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    display: block;
    width: 150px;
    position:absolute;
    top: 71px;
    /* border: 2px solid ; */
    
    /* left:-150px; */
    /* flex-basis: 0; */
    
    

  }
  .head li{
    margin: 5px 0;
    padding-left: 30px;
    border-bottom: 2px solid ;
    width: 100%;
    

  }
 .head ol >li{
   display: block;
   
   
   margin-left: 80px;

 }
 

}
.space{
  display: none;
}

/* .head ul.-on{
  /* flex-basis: 200px; */
  /* left: 100px; */
  /* transition: .5s; */
   
   
/* 
 } */ 

/* 圖片大小 */
@media screen and (max-width: 575.98px){
  .photo{
    width: 110%;
  }
}
@media screen and (min-width: 575.98px) and (max-width: 767.98px){
  .photo{
    width: 600px;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 991.8px){
  .photo{
    width: 800px;
  }
}
@media screen and (min-width: 991.8px) and (max-width: 1199.8px){
  .photo{
    width: 980px;
  }
}

@media screen and (min-width: 1199.8px) and (max-width: 1399.8px){
  .photo{
    width: 1150px;
  }
}
@media screen and (min-width: 1319.8px){
  .photo{
    width: 1600px;
  }
}


/* ------------漢堡 ------------- */
.ham{
  display: none;
}

/* ------------logo *-------------*/
img{
  width: 239px;
  height: 103px;
  

}

/* 選單 */
ul{
  width: 515px;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 100px;
  
 
}

li{ 
  position: relative;
  display: inline-block;  
  font-style: normal;

 
  
}

li a{
  display: block;
  width: 80px;
  height: 30px;
  text-decoration: none;
  line-height: 23.17px;
  margin: 0 10px ;    
  
  
}

li a:hover{
    color: rgb(218, 218, 218);
}



ul>li:hover ol{
  display: block;
 
  

}
ol{
  position: absolute;
  display: none;
  top: 30px;
  left: -8px;

}



ol>li a{
  display: block;
  width: 80px;
  height: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 20px;

}

ol:hover>li {
 


}

/* icon */

.icon{
  font-size: 20px;
  margin-top: 20px;


}

.fas ,.fab{
  margin-right: 20px;

}
 
/* space-header下空白區 */

.space{
  width: 100%;
  height: 123px;
} */

/* 頁尾 */

.footer1{
  height: 220px;
  border-top: 1px solid rgba(199, 199, 199, 0.7);
  /* border: 1px solid violet; */
 



  
  
}

.footer1 .text{
  width:500px;
  margin: 20px 0;
  margin: 0 auto;



  
}

.footer1 .text p{
  text-align: center;
  padding-top: 15px;
  line-height: 1.6;
  font-size: 16px;
}


.footer1 .ficon{
  font-size: 20px;
  width: 150px;
  margin-bottom: 20px;


}

.footer1 .text  .phone{
  height: 50px;
  width: 310px;
  display: flex; 
   margin: 0 auto; 
  
}
.footer1 .text  .phone .ph{
  margin-right: 20px;
}


/* head下的圖 */

.photo{
  /* background-color: rgb(207, 205, 205); */
  height: 629px;
  /* margin-top: 15px; */
  margin-bottom: 140px;
  width:110%;
 
  
  
 
}
.photo img{
width: 100%;
height: 100%;
object-fit: cover;


}



